.car {
 padding-top: 3rem;
}

.car__details {
 text-align: right;
 text-transform: capitalize;
}

.car__details h2 {
 font-size: 28px;
 font-weight: 700;
}

.car__details span {
 font-weight: 700;
}

.makeStyles-paper-1::-webkit-scrollbar,
.makeStyles-paper-2::-webkit-scrollbar,
.makeStyles-paper-3::-webkit-scrollbar,
.makeStyles-paper-4::-webkit-scrollbar,
.makeStyles-paper-5::-webkit-scrollbar,
.makeStyles-paper-6::-webkit-scrollbar,
.makeStyles-paper-7::-webkit-scrollbar,
.makeStyles-paper-8::-webkit-scrollbar {
 display: none !important;
}

.makeStyles-paper-1,
.makeStyles-paper-2,
.makeStyles-paper-3,
.makeStyles-paper-4,
.makeStyles-paper-5,
.makeStyles-paper-6,
.makeStyles-paper-7,
.makeStyles-paper-8 {
 -ms-overflow-style: none;
 scrollbar-width: none;
}
